
body {
    text-align:center;
    background-image:url(../images/hologram.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    backdrop-filter: blur(7px);
    font-family:Raleway;
    margin: 0;
    color: white;
    padding: 0;
}

.login {
    font-size:30px;
    font-weight:bolder;
    color: whitesmoke;

}
input {
    transition:0.3s;
    width:250px;

    background:none;
    border-right:none;
    border-left:none;
    border-top:none;
    padding:8px;
    margin:10px;
    border-color:#a7a3a3;
    font-size:15px;
    outline:none;
    font-weight:bold;
}
a:hover
{
    text-decoration: none;
}
a
{
    color: grey;
}

.btn-primary {
    color: #fff;
    background-color: #0000005b;
    border:1px solid #588dff;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 30px;
}

.btn-primary:hover
{
   color:grey ;
    background: #2196f3;
    box-shadow:0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
}
.g:hover {
    border-bottom:rgb(42, 109, 253);
    width:270px;
    box-shadow: 0 8px 6px -6px #2196f3;
}
.g
{
    color: rgb(168, 192, 212);
}
.me {
    width:20px;
    padding:0px;
    margin-left:-145px;
    font-weight:bolder;
}
p {
    color:whitesmoke;
    font-weight:bold;
}
