*
{
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
}
body
{
    font: 300 15px "Times New Roman", Times, serif;
	line-height: 1.5;
	padding: 0;
	
	scroll-behavior: smooth;
	margin: 0;
}


.preloader {
	position: fixed;
	background-color: black;
	z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7283cf;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #dfdd47;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff0000;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**************************************/


.bg-dark
{
	background-color:#00000070!important;

}
.login
{
	background-color: rgb(42, 109, 253);
  border:rgb(42, 109, 253);
  border-radius: 5px;
	padding:0px;


}
h1, h2, h3, h4
{
	text-align: center;
}

header
{
	margin-top: -56px;
	padding: 230px 0px;
	background-image: linear-gradient(rgba(0, 0, 90, 0), rgba(0, 0, 0, 0.4)), url(../images/hologram.jpg);
	background-size: cover;
	background-position: center;
	color: rgb(170, 170, 170);
	text-align: center;
	
}




.rolling
{
	height: 82px;
	width: auto;
	margin-bottom: 22px;
	animation: rolling 3.5s infinite ease-in-out;

}
.roll-support1
{
	height: 30px;
	margin-bottom: 80px;
	animation: rolling 3.5s infinite reverse;
  
}

@keyframes rolling{
	from{transform: rotate(0deg);}
	to{ transform: rotate(360deg);}
}
header h1
{
	color: white;
	
	font-size: 40px;
	text-shadow:-1px 1px rgb(155, 151, 151) ;


}
.aboutus
{
	border: 1px solid black;
}
#about p
{
	font-size: 23px;
}

.event-details:hover
{
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.2); 
	transition: 0.3s;

}




/* background-image: linear-gradient(to top right, #ff1800,#cbe01d, #4a8690); */
  /*  background-image: linear-gradient(to top right, #ff7263,#ebfb65, #98f0ff);*/

#events
{
	
background-color: #000000;
	color: #ffffff;
}
hr.line1
{
    border-top: 1px solid #66c0ec;
}
#events p
{
	font-size: 14px;
}

h1
{
	font-size: 60px;
	color: #66c0ec;
	text-transform: uppercase;
	text-align: center;
}

.date
{
	color: #66c0ec;
	font-size: 20px;
}

.event-details h2
{
	color: #66c0ec;
}

.event-details
{
	margin-bottom: 30px;
}

.event-details a
{
	text-decoration: none;
}

.event-details h2:hover
{
	color: #367fa3;
}

/***************************/

 .container {
	position: relative;
	width: 50%;
  }

  /* .team-members
  {
	  background-color: #ecebeb;
	  padding: 50px;
	  border-radius: 15px;
	  color: #000000;
	  margin: 40px;
	  
  }
  .team-members:hover
  {
	transform: translateY(-15px);
	transition: 0.5s; 
  }

  .team-members h2
  {
	font-weight: 600;
    font-size: 30px;
    color: #2f2b2b;
  }

  .team-members h3
  {
	  color:rgb(77, 77, 77);
  }

  
  .team-members .image {
	width: auto;
	height:138px;
	border-radius: 50%;
  }
  
span img
{
	height: 21px;
	margin: 13px;
} */

/********Team members mdbootstrap****/
.team-section .avatar img {
    max-width: 250px;
    height: 250px;
}
.team-section .avatar img:hover
{
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.2); 
	transition: 0.3s;
}










/***************************************/
.carousel-item
{
	
		float: left;
		width: 100%  ;
		height: 100%;
		object-fit: cover;
		background-size: auto;
}


/**************************************/

.footer .jumbotron
{
	background-color: #ff5898;
	margin: 20px;
	border-radius: 30px;
}

.form-control .submit
{
	padding: 0px 5px;
}


.vl {
	border-left: 2px solid #ff6ea5;
	height: 200px;
	margin-left: 70px;
	margin-top: 50px;
  }
  .hr1
  {
	  width: 150px;
	  border-top: 2px solid #ff6ea5;
	  margin-left: 245px;
  }
.footer, .list-group-item
{
	background-color: #ff92bc;
	
}

.list-group-item:hover
{
	background-color: #ff6ea5;
}

/* .modal-content
{
	background: linear-gradient(to right, #ff51b1 0%, #ff99cc 100%);
} */
.social
{
	height: 30px;
	margin: 10px;
	
	width: auto;

}
.social:hover
{
    filter: grayscale(1);
}
.footer .social:hover
{
	filter: grayscale(1);
}
.grid-container {
	display: grid;
	grid-gap: 10px;

	padding: 10px;
  }
  
  .grid-item {
	
	text-align: center;
padding: 0px;

  }
  

  
  .item1 {
	grid-column: 1;
	grid-row: 1 / span 2;
  }
  .item-2
  {
	  grid-column: 2;
	  padding: 0px;
	  grid-row: 1;
  }
  .item3
  {
	  grid-column: 3;
	  grid-row: 1/span 2;
  }
  .item4
  {
	  grid-column: 1/span 3;
	  grid-row: 2;
  }
.copyright
{
	text-align: center;
  
}


/*************************************/


@media only screen and (min-width: 576px){
  .login{
margin-left: 800px;
  }

}
@media only screen and (max-width: 576px){
	.bg-dark{
		background-color:#000000!important;
	}
  }
  
  @media only screen and (max-width: 576px){
	.hr1{
		margin-left: 132px;
		width: 100px;
	}
	.vl
	{
		margin-left: 0px;
	}
  }

